@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
  background-color: rgb(143, 247, 132);
  font-family: 'Roboto Mono', monospace;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 920px;
  height: 100vh;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 75%;
  height: 70vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgb(24, 24, 24);
  padding: 0 20px;
  /* border: 1px solid black; */
  /* padding: 20px; */
}

.box {
  width: 100%;
  /* border: 1px solid blue; */
  text-align: center;
}
